body {
    color: rgb(255, 248, 238);
    margin: 5px;
    background-color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

img {
    padding: 10px;
    border-radius: 5%;
    display: inline-block;
}

.container {
    display: grid;

}

header {
    grid-column-start: 1;
    grid-column-end: 10;
    background-color: rgb(2, 27, 38);
    margin: 1px;
    border-radius: 1ex;
}

.menu {
    background-color: rgb(2, 51, 72);
    margin: 1px;
    border-width: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    /*Centraliza o menu*/
    border-radius: 1ex;
}

li {
    float: left;
    list-style-type: none;
    margin-top: 1px
}

li a {
    display: block;
    color: rgb(255, 248, 238);
    padding: 8px 16px;
    text-decoration: none;
}

a:hover {
    /*Quando o mouse passa por cima dos itens do menu*/
    background-color: antiquewhite;
    color: black;
    border-radius: 1ex;
}

#bloco {
    margin: 10px;
    ;
    padding: 9ex;
    text-align: center;
    background-color: rgba(46, 46, 46, 0.699);
    border-radius: 1ex;
    display: inline-block;
    width: auto;
}

#bloco1 {
    margin: 5px;
    text-align: justify;
    border-radius: 1ex;
    margin: 10px;
    width: auto;
    padding: 5px;
    background: rgb(46, 46, 46);
    display: inline-block;
    border: 10px;
    box-sizing: border-box;
}

#bloco2 {
    padding: 15px;
    border-radius: 1ex;
    width: auto;
    text-align: left;
    background: rgb(2, 51, 72);
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}

.iconPag {
    /*Icones para os links das páginas do portifólio*/
    margin: 6%;
    width: auto;
    padding: 5px;
    background-color: rgb(2, 51, 72);
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 1ex;
}


.footer {
    padding-left: 5px;
    grid-column-start: 1;
    grid-column-end: 12;
    background-color: rgb(2, 27, 38);
    padding-block: 10px;

}

/*Inicio estilização formulário contato*/
.form {
    color: rgb(255, 248, 238);
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(2, 51, 72);
    padding: 15px;
    border-radius: 10px;
    width: 20%;

}

fieldset {
    border: 1px solid dodgerblue;
}

legend {
    /*Legenda da Tabela*/
    border: 3px solid dodgerblue;
    padding: auto;
    text-align: center;
    border-radius: 5px;
    background-color: dodgerblue;
}

.infoTab {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid wheat;
    outline: none;
    color: rgb(255, 248, 238);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

#submit {
    background-image: linear-gradient(to top, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    padding: 15px;
    color: antiquewhite;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

/*Fim do estilo formulário de contato*/

/*media query para dispositivos moveis*/
@media only screen and (max-width: 767px) {
    .wrapper {
        grid-column-start: 1;
        grid-column-end: 1;
    }


    #bloco #bloco1 #bloco2 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .menu .header {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .info {
        grid-column-start: 1;
        grid-column-end: 4;
    }

}